body {
	background-color:#e6e6ff;	
}
h1 {
	text-align: center;
	font-family: Courier New, monospace;
	color: darkblue;
	text-shadow: black;
	text-decoration: underline;
}
#rend {
	text-align: center;
}